.menuCard {
  padding: 1rem 1rem 1.25rem;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 0, 0, 0.1);
  position: relative;
}
.imageWrapper {
  position: relative;
}
.cardImage {
  width: 100%;
  height: 10rem;
  flex-grow: 0;
  border-radius: 1rem;
}
.cardDiscount {
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: var(--theme-color-dark);
  color: var(--container-color);
  padding: 0 0.25rem;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: var(--h3-font-size);
  border: 2px solid var(--container-color);
  border-left: 0;
  display: inline-flex;
  align-items: center;
}
.cardHeader {
  margin: .5rem 0 1rem;
  font-size: var(--small-font-size);
}
.scoresReview {
  color: var(--sub-color);
  font-weight: normal;
}
.cardInfos {
  display: flex;
  justify-content: space-between;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}
.cardInfo :nth-child(n) {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--sub-color);
}
.infosText {
  font-size: var(--tiny-font-size);
  font-weight: normal;
}
.cardPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--sub-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}
.priceDiscount {
  color: var(--theme-color);
  font-weight: var(--font-semi-bold);
}
.priceOrigin {
  color: var(--sub-color);
  text-decoration: line-through;
  padding-left: .4rem;
}
.priceNumber {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color-dark);
}
.cardButton {
  width: 100%;
  font-size: var(--small-font-size);
  text-align: center;
}