.header {
  width: 100%;
  position: fixed;
  top: 1.5rem;
  left: 0;
  z-index: var(--z-fixed);
  transition: all 0.7s;
}
.navLogo {
  color: var(--theme-color);
  font-weight: var(--font-semi-bold);
  transition: all 0.1s;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.navLogo:hover {
  color: var(--theme-color-dark);
}
.navLink:hover {
  color: var(--title-color-dark);
}
.navList {
  display: flex;
  column-gap: 2rem;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  
}
