.detailsContainer {
  margin-top: 4rem;
}

.detailsContainer h2 {
  border-bottom: 5px solid var(--theme-color);
  width: fit-content;
  margin-bottom: 50px;
  font-size: var(--h2-font-size);
}

.banner {
  display: flex;
}

.banner img {
  width: 300px;
  border-radius: 10px;
}

.banner div {
  margin-left: 30px;
}

.banner h3 {
  font-size: var(--h3-font-size);
  color: var(--theme-color);
}

.banner span {
  display: flex;
  align-items: center;
}

.location {
  color: grey;
  margin: 20px 0 40px;
}

.discount {
  background-color: #ed4133;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
}

.introduction {
  margin: 60px 0;
  line-height: 25px;
  text-align: justify;
}

.details {
  margin-bottom: 60px;
}

.details h4 {
  font-size: 1.5rem;
  color: var(--theme-color);
  margin: 24px 0;
}

.details ul {
  list-style: none;
}

.details li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.details li::before {
  content: "• ";
  color: var(--theme-color);
}

.details p {
  font-size: var(--normal-font-size);
  font-weight: 600;
  margin: 0 10px;
}

.details span {
  color: grey;
}

.recipe {
  margin-bottom: 100px;
}

.recipe h4 {
  font-size: var(--h3-font-size);
  color: var(--theme-color);
  margin: 24px 0;
}

.recipe div {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  text-align: justify;
}

.recipe span {
  font-size: var(--h1-font-size);
  margin: 0 15px 0 5px;
}

.odd {
  background-color: #ffdbdb;
}

.even {
  background-color: #ff9393;
}

.detailsContainer button {
  width: 100%;
  border: none;
  background-color: var(--theme-color);
  color: white;
  padding: 15px;
  font-size: var(--h3-font-size);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
  .banner div {
    margin: 0;
  }
  .banner img {
    width: 100%;
    margin-bottom: 20px;
  }
  .detailsContainer h2 {
    margin-left: auto;
    margin-right: auto;
  }
}
