.subMenuContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem .7rem;
  justify-content: space-between;
}

.menuContainer h2 {
  border-bottom: 5px solid var(--theme-color);
  width: fit-content;
  margin: 6rem 0 2rem;
  font-size: var(--h1-font-size);
}
@media (max-width: 992px) {
  .menuContainer h2 {
    margin: 6rem auto 2rem;
  }
  .subMenuContainer {
    grid-template-columns: repeat(3, 240px);
    column-gap: 2rem;
    justify-content: center;
    padding: 0 3rem;
  }

}
@media (max-width: 768px) {
  .subMenuContainer {
    grid-template-columns: repeat(2, 250px);
  }
  
}

@media (max-width: 578px) {
  .subMenuContainer {
    grid-template-columns: repeat(1, 320px);
  }
  
}
